# Java build artifacts
*.class

# Maven / Gradle directories
target/
build/
out/

# IDE configs
.idea/
*.iml
.vscode/
*.iws
*.ipr
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
